body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #fff;
    margin: 0;
}

ul {
    list-style: none;
}

.team-list {
    list-style: none;
}

address {
    font-style: normal;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}